{{define "header"}}
<HTML>
    <HEAD>
        <link rel="stylesheet" href="/resources/page-style.css">
        <link rel="stylesheet" href="/resources/menu-style.css">
        <link rel="stylesheet" href="/resources/trotsek.css">
    </HEAD>
    <BODY>
        <DIV id="nav">
            <ul>
                <li><a href="/encrypt">Enkodeer</a></li>
                <li><a href="/decrypt">Ontsyfer</a></li>
            </ul>
        </DIV>
        <DIV class="contents">
            <!-- END OF PAGE HEADER -->
{{end}}